@charset "UTF-8";


/* boby */

body{
	height: 100%;
	background-color: rgb(64, 74, 121);
	font-family: Arial;
	background-repeat:no-repeat;
	background-position:center center;
	color: white;
	margin: 0;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

h1{
	display: inline;
}

.avengersFont{
	font-family: Avengers;
	letter-spacing: 2px;
}

.stars{
	background-image: url("tech.png");
	background-size: 40%;
}

@font-face{
	font-family: Avengers;
	src: url("avengers.ttf");
}

#page {
	min-width: 100%;
    min-height: 100%;
    position: relative;
}

div{
 	text-align: center;
}
a{
	color: white;
	text-decoration: none;
}
a:hover {
    color: rgb(238, 34, 34);
  }

/* entête */

#welcome{
	padding-top: 10px;
}

#logo{
	width: 400px;
	height: 150px;
}

#menu a{
	margin: 100px;
}

#menu{
	font-family: Avengers;
    margin-bottom: 100px;
}

/* partie principale */

main{
	font-weight: bold;
	height: 786px;
	font-size: 18px;
}

#mainIndex{
	height: 731px;
}

.bigMain{
	margin-bottom: 800px;
}

#pages{
	margin-top: 132px;
}

#buttons {
	font-size: 70px;
	margin: 10px;
}

#buttons div{
	margin: 50px;
}

#intro{
	margin-top: 55px;
}

#templine{
	background-color: aliceblue;
	height: 200px;
	margin-top: 180px;
	margin-bottom: 180px;
}

#formLogin{
    padding-top: 30px;
}

.space{
    margin: 30px;
}

#register{
    color: rgb(230, 114, 114);
}

#register:hover{
    color: rgb(238, 34, 34);
}

.comments{
	height: 700px;
	background-color: rgb(35, 40, 66);
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 50px;
}

.publiedComments{
	height: 400px;
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	overflow-y:scroll;
	scrollbar-width: thin;
}

.post{
	margin-top: 20px;
	margin-bottom: 20px;
	min-height:fit-content;
	border: 1px;
	border-style: solid;
	border-color: black;
	background-color:aliceblue;
	margin-left: 20px;
	margin-right: 20px;
	color: rgb(0, 0, 0);
	text-shadow: none;
	text-align: left;
	font-size: small;
}

.date{
	color:rgb(119, 125, 153);
}

textarea{
	resize: none;
}

.box{
	height: 500px;
	background-color: rgb(35, 40, 66);
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 50px;
	text-align: left;
	align-items: left;
}

.moviePoster{
	float: left;
	margin: 20px;
	padding-top: 122px;
}
.poster{
	width: 300px; 
	height: 400px; 
	margin-top: -90px;
}

.desc{
	text-align: left;
	margin-bottom: 20px;
}

.star:hover{
	color: red;
}

.descBox{
	padding-top: 50px;
}

#herosList{
	margin-top: -50px;
}

.heros{
	font-size: 25px;
}

.characterPicture{
	height: 400px;
	margin-top: -145px;
}

#loginBox{
	margin-top: 100px;
}

#registerBox{
	margin-top: 250px;
}

#logout{
	padding-top: 330px;
}

/* pied de page */

footer{
	font-family: Comic;
	height: 140px;
    position: relative;
    bottom: 0;
	width:100%;
	background-color: rgb(35, 40, 66);
}

#marvel{
	height: 70px;
}
