<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
        <session-factory >
        <!-- local connection properties -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost/bddEtudiants</property> <!--URL de ma BDD -->
        <property name="hibernate.connection.driver_class">com.m…me="hibernate.connection.password">password</property>
        <property name="hbm2ddl.auto">create</property> <!-- update ou create -->
        <!-- dialect for MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> <!--Mode de discussion entre Hibernate et la BDD -->
        <property name="hibernate.show_sql">true</property> <!--Hibernate affiche ou non toutes les requetesSQL passées à la BDD -->

        </session-factory>
        </hibernate-configuration>